<div class="navbar">
  <a href="/">Inicio</a>
  <div class="dropdown">
    <button class="dropbtn" onclick="myFunction()">
      Mensajes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" id="myDropdown">
      <a href="/new">Nuevo mensaje</a>
    </div>
  </div>
</div>
