* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  padding: 2em 10em;
  text-align: center;
}

.contenedor2 {
  padding: 2em 10em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: rgb(50, 27, 153);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Contenedor de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Cuadrícula responsiva */
  gap: 10px; /* Espacio entre los elementos */
  padding: 15px;
}

/* Estilo de cada elemento de la cuadrícula */
.grid-item {
  background-color: #323532; /* Color de fondo verde */
  color: white; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave */
}

/* Efecto al pasar el ratón sobre el elemento */
.grid-item:hover {
  background-color: #4cae4c; /* Color más oscuro al pasar el ratón */
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .contenedor,
  .contenedor2 {
    padding: 2em 5%; /* Reduce el padding en pantallas más pequeñas */
  }

  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100px, 1fr)
    ); /* Ajusta el tamaño mínimo de los elementos */
  }

  .navbar {
    text-align: center; /* Centra la navbar en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .navbar a {
    font-size: 14px; /* Reduce el tamaño de fuente en pantallas muy pequeñas */
  }

  .grid-item {
    padding: 15px; /* Reduce el padding de los elementos de la cuadrícula */
  }
}
